.slider {
  position: relative;
  width: 90%;
  height: 600px;
  overflow: hidden;
  margin: auto;
  border-radius: 50%; /* Keep for larger screens */
}

@media (max-width: 768px) {
  .slider {
      border-radius: 10px; /* Remove rounding for smaller screens */
     width: 100%;
     height: 200px;

  }
}

.slide {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide.active {
  top: 0;
  opacity: 1;
}
